.skills {
  background-color: $grey-bg;

  @include r ($desktop) {
    padding: 90px 0;
  }

  @include r ($tablet-large) {
    padding: 70px 0;
  }

  &__inner {
    @include r ($tablet) {
      flex-direction: column;
    }
  }

  &__photo {
    max-width: 415px;
    width: 100%;
    max-height: 450px;
    height: 100%;

    @include r ($desktop) {
      margin-right: 30px;
    }

    @include r ($tablet) {
      margin: 0 0 50px;
    }
  }

  &__list {
    max-width: 665px;
    width: 100%;
  }

  &__item:not(:last-child) {
    margin-bottom: 86px;
  }

  &__item {
    font-weight: 600;
  }

  &__elem {
    text-transform: uppercase;
    margin-right: 20px;

    @include r ($mobile) {
      margin-right: 10px;
      font-size: 16px;
    }
  }

  &__line {
    background-color: $grey;
    height: 33px;
    max-width: 600px;
    width: 100%;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 33px;
      background-color: $blue;
    }

    &--first:after {
      width: 85%;
    }

    &--second:after {
      width: 79%;
    }

    &--third:after {
      width: 65%;
    }
  }
}